.floatingicons{
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: var(--boxShadow);
    border-radius: 15px;
    padding: 0 1.5rem;
}

.floatingicons>img{
    transform: scale(0.5);
}

.floatingicons span{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 1rem;
}