.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
      /* scroll */
  padding-top: 3rem;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.c-right .user{
    width: 28rem;
    height: 4rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;   
}

textarea{
    height: 7rem!important;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}

/* for moblie */
@media (min-width:375px) and (max-width:680px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
        margin-top: -8rem;
        align-items: center;
    }
    .c-right .user{
        width: 16rem;
    }
    textarea{
        height: 4rem!important;
    }
}

/* for tablet  */
@media (min-width:681px) and (max-width:1181px){
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
        margin-top: -8rem;
        align-items: center;
    }
    .c-right .user{
        width: 30rem;
    }
    textarea{
        height: 6rem!important;
    }
}
