.n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    top: 0;
    position: relative;
    z-index: 999;
  }
  .n-left {
    flex: 1;
    align-items: center;
    justify-content: left;
    display: flex;
    gap: 2rem;
  }
  
  .n-name {
    font-size: 3rem;
    font-weight: bold;
  }
  .n-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
  }
  
  .n-list {
    flex: 10;
  }
  .n-list > ul {
    display: flex;
    gap: 4rem;
    margin-right: 4rem;
  }
  
  .n-list > ul :hover {
    color: var(--orange);
    cursor: pointer;
  }
  .n-list li{
    font-size: 1.2rem;
  }
  
  .n-button {
    flex: 2;
  }


/*media query for mobile design  */
@media (min-width:375px) and (max-width:680px) {
    .n-list {
        display: none;
      }
      .n-button {
        flex: 2 1;
        display: none;
    }
}



/* media query for tablet design */
@media (min-width:681px) and (max-width:1181px){
  .n-list {
    display: none;
  }
  .n-button {
    flex: 2 1;
    display: none;
}
}