.Intro {
    display: flex;
    min-height: 60vh;
    margin-top: 15rem;
    align-items: center;
  }
  
  /* left side styling */
  .i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
  }
  .i-name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .i-name > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 5rem;
  }
  .i-name > :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 5rem;
  }
  .i-name > :nth-child(3) {
    font-weight: 100;
    font-size: 19px;
    color: var(--gray);
    margin-top: 10px;
    line-height: 1.67em;
  }
  .i-button {
    width: 9rem;
    height: 3rem;
  }
  .i-icons {
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
  }
  .i-icons > * {
    transform: scale(0.6);
  }
  .i-icons > *:hover {
    cursor: pointer;
  }
  /* right side styling */
  .i-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .i-right img{
    width: 100%;
  }
 
  /* blur */
  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 33%;
    filter: blur(72px);
  }
  


@media (min-width:375px) and (max-width:680px) {
    .Intro {
        flex-direction: column;
        gap: 7rem;
        height: 64rem;
        margin-top: 7rem;
      }
      .i-right .blur {
        display: none;
      }
      .i-name > :nth-child(1) {
        font-size: 3rem;
      }
      .i-name > :nth-child(2) {
        font-size: 3rem;
      }
      .i-name > :nth-child(3) {
        font-size: 16px;
      }
     
}

/* for tablets */
@media (min-width:681px) and (max-width:1181px){
  .Intro {
    flex-direction: row;
    gap: 7rem;
    height: 64rem;
    margin-top: 7rem;
  }

  .i-right .blur {
    display: none;
  }
  .i-name > :nth-child(1) {
    font-size: 3rem;
  }
  .i-name > :nth-child(2) {
    font-size: 3rem;
  }
  .i-name > :nth-child(3) {
    font-size: 16px;
  }
 
}

