.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    margin-top: -7rem;
    position: relative;
}
.f-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 9rem;
    gap: 4rem;
    color: white;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.f-content span{
    font-size: 2rem;
}

.f-icons{
    display: flex;
    gap: 3rem;
}


@media (min-width:375px) and (max-width:680px) {
    .footer {
        margin-top: -7rem;
        min-height: 49vh;
    }

    .f-content{
        left: 50%;
         top: 30%;
    }

    .footer img{
        height: 49vh;
    }
    .f-content span {
        font-size: 1.3rem;
    }
    .f-icons{
        display: flex;
        gap: 3rem;
        width: 18rem;
    }
}

